* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Tahoma, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

#hero-section {
  color: #f9faf8;
  background-color: #1f2937;
  padding-bottom: 96px;
}

/* Header */
.main-heading {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.logo {
  font-size: 24px;
  font-weight: 600;
}

.links {
  display: flex;
  list-style: none;
  gap: 16px;
  font-size: 18px;
}

.links a:link {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

.links a:visited {
  color: #f9faf8;
}

.links a:hover {
  color: aqua;
}

.links a:active {
  text-decoration: underline;
}

/* Hero */
.hero {
  display: flex;
  gap: 36px;
}

.hero-text {
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 0.18rem;
  line-height: 2rem;
  margin-bottom: 16px;
}

.hero-description {
  font-size: 16px;
  line-height: 1.2rem;
  margin-bottom: 12px;
}

.cta {
  display: inline-block;
  padding: 8px 32px;
  background-color: #3882f6;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
}

.placeholder {
  width: 500px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  background-color: #595a5a;
}

/* Featured */
#featured-section {
  padding: 48px 0 96px;
  border: 1px solid black;
}

.sub-heading {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 32px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 64px;
}

.cards > * {
  flex: 0 1 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blue-box {
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 12px;
  margin-bottom: 8px;
}

.featured-description {
  font-size: 16px;
  text-align: center;
}

/* Quotes */
#quotes-section {
  background-color: #e5e7eb;
  padding: 96px 0;
}

.box-quotes {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.quotes {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
}

.author {
  align-self: flex-end;
}
